@font-face {
    font-family: Matrix;
    src: url('fonts/matrix.ttf');
}

@font-face {
    font-family: Main;
    src: url('fonts/1942.ttf')
}

body {
    height: 100vh;
    display: flex;
    margin: 0;
}

#pic-container {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 100vh;
    background-image: url('pictures/matrix.webp');
    background-size: 100% 100%;
}

#transparent-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-family: Matrix;
    font-size: clamp(2vh,5vh,6vh);
    color: white;
    background-color: rgba(0,0,0,0.5);
    height: 13vh;
    margin-top: 24vh;
}

footer {
    opacity: 0.7;
    margin-top: auto;
    font-size: min(1vw, 2vw);
    font-family: Matrix;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5vh;
}

a {
    text-decoration: none;
    color: white;
}

#sign-up-container {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 100vh;
    background-color: rgb(0,0,0);
}

header {
    margin-left: 5vw;
    margin-top: 10vh;
    font-family: Main;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}



fieldset {
    display: flex;
    border: #00FF41;
    border-style: double;
    column-gap: 8vw;
    margin-top: 6.6vh;
}

legend {
    margin-left: auto;
    color: white;
    font-family: Matrix;
    font-size: 1.4rem;
}

label {
    color: white;
    margin-left: 4vw;
    font-family: Matrix;
}

input {
    margin-left: 4vw;
    margin-bottom: 3vh;
    margin-top: 1vh;
}

input:invalid {
    border: red 2px solid;
}

.form-column-1 {
    display: flex;
    flex-direction: column;
    padding-top: 2.5vh;
}

.form-column-2 {
    display: flex;
    flex-direction: column;
    padding-top: 2.5vh;
    
}