@font-face {
    font-family: Matrix;
    src: url('fonts/matrix.ttf');
}

@font-face {
    font-family: Main;
    src: url('fonts/1942.ttf')
}



body {
    height: 100vh;
    display: flex;
    margin: 0;
}

#pic-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100vh;
}

img {
    height: 100vh;

}

#transparent-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Matrix;
    width: 40vw;
    font-size: 5vh;
    color: white;
    background-color: rgba(70, 255, 86, 0.1);
    height: 16vh;
    margin-top: 24vh;
}

footer {
    display: flex;
    justify-content: center;
    position: absolute;
    opacity: 0.7;
    font-size: min(1vw, 2vw);
    font-family: Matrix;
    color: white;
    margin-left: 13vw;
    margin-top: 96vh;
    padding-bottom: 0.5vh;
}

a {
    text-decoration: none;
    color: white;
}

a#login {
    color: #00FF41;
    font-weight: bolder;
}

#sign-up-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    
}

header {
    margin-left: 5vw;
    margin-right: auto;
    margin-top: 10vh;
    font-family: Main;
    font-size: 2vw;
    font-weight: bold;
    color: white;
}




fieldset {
    display: flex;
    border: #00FF41;
    border-style: double;
    column-gap: 6vw;
    margin-top: 6.6vh;
}

legend {
    margin-left: auto;
    color: white;
    font-family: Matrix;
    font-size: 1.4rem;
}

label {
    color: white;
    margin-left: 4vw;
    font-family: Matrix;
}

input {
    width: 150px;
    margin-left: 4vw;
    margin-bottom: 3vh;
    margin-top: 1vh;
    height: 1.4rem;
    border-radius: 5px;
    line-height: 1.2rem;
}

input:not(:placeholder-shown):invalid {
    border: red 2px solid;
}

.form-column-1 {
    display: flex;
    flex-direction: column;
    padding-top: 2.5vh;
    
}

.form-column-2 {
    display: flex;
    flex-direction: column;
    padding-top: 2.5vh;
    
}

.progress-circle::after {
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(black 50%, transparent 40%),
    conic-gradient(#00FF41 0deg 360deg);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    content: "0%";
    color: white;
}

.progress-one::after {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(black 50%, transparent 40%),
    conic-gradient(#008F11 0deg 61.2deg, #00FF41 61.2deg 360deg);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    content: "17%";
    color: white;
}

.progress-two::after {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(black 50%, transparent 40%),
    conic-gradient(#008F11 0deg 118.8deg, #00FF41 118.8deg 360deg );
    border-radius: 50%;
    width: 150px;
    height: 150px;
    content: "33%";
    color: white;
}

.progress-three::after {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(black 50%, transparent 40%),
    conic-gradient(#008F11 118.8deg 180deg, #00FF41 180deg 360deg);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    content: "50%";
    color: white;
}

.progress-four::after {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(black 50%, transparent 40%),
    conic-gradient(#008F11 180deg 241.2deg, #00FF41 241.2deg 360deg);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    content: "67%";
    color: white;
}

.progress-five::after {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(black 50%, transparent 40%),
    conic-gradient(#008F11 241.2deg 298.8deg, #00FF41 298.8deg 360deg);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    content: "83%";
    color: white;
}

.progress-six::after {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(black 50%, transparent 40%),
    conic-gradient(#008F11 298.8deg 360deg);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    content: "100%";
    color: white;
}

#form {
    overflow: auto;
}

.bottom {
    display: flex;
    column-gap: 10.5vw;
    margin-bottom: 4vh;

}


button {
    background-color: #00FF41;
    font-family: Matrix;
    color: black;
    position: relative;
    top: 3vh;
    width: 130px;
    height: 30px;
    margin-left: 5.2vw;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.error-message::after {
    content: "Passwords Do Not Match!";
    background-color: black;
    font-family: Main;
    color: red;
    font-size: 1.1rem;
    height: 30px;
    width: 170px;
    position: relative;
    top: 3vh;
}

.passwords-ok::after {
    content: "Passwords Match!";
    background-color: black;
    font-family: Main;
    color: #00FF41;
    font-size: 1.1rem;
    height: 30px;
    width: 170px;
    position: relative;
    top: 3vh;
}

span {
    color: white;
    margin-left: 5.2vw;
    margin-top: 2vh;
    font-family: Main;
}

@media screen and (max-width: 1427px) {
    fieldset {
        column-gap: 5vw;
    }
}

@media screen and (max-width: 1350px) {
    fieldset {
        column-gap: 4vw;
    }
}

@media screen and (max-width: 1152px) {
    fieldset {
        column-gap: 3vw;
    }
}

@media screen and (max-width: 1096px) {
    fieldset {
        column-gap: 2vw;
    }
    .progress-circle::after, .progress-one::after,
    .progress-two::after, .progress-three::after,
    .progress-four::after, .progress-five::after,
    .progress-six::after {
        margin-left: 1vw;
    }
}

@media screen and (max-width: 1062px) {
    fieldset {
        column-gap: 1vw;
    }
    .progress-circle::after, .progress-one::after,
    .progress-two::after, .progress-three::after,
    .progress-four::after, .progress-five::after,
    .progress-six::after {
        width: 100px;
        height: 100px;
        margin-left: 4vw;
    }
}

@media screen and (max-width: 987px) {
    
    #transparent-container {
        width: 40vw;
    }
    footer {
        margin-left: 15vw;
    }
    .progress-circle::after, .progress-one::after,
    .progress-two::after, .progress-three::after,
    .progress-four::after, .progress-five::after,
    .progress-six::after {
        margin-left: 3vw;
    }
}

@media screen and (max-width: 956px) {
    .progress-circle::after, .progress-one::after,
    .progress-two::after, .progress-three::after,
    .progress-four::after, .progress-five::after,
    .progress-six::after {
        margin-left: 1vw;
    }
}


@media screen and (max-width: 922px) {
    #pic-container {
        width: 38vw;
    }
    #transparent-container {
        width: 38vw;
    }
}

@media screen and (max-width: 881px) {
    #pic-container {
        width: 36vw;
    }
    #transparent-container {
        width: 36vw;
        font-size: 4vh;
    }
    footer {
        margin-left: 14vw;
    }
}

@media screen and (max-width: 848px) {
    #pic-container {
        width: 35vw;
    }
    #transparent-container {
        width: 35vw;
    }
    footer {
        margin-left: 13vw;
    }
}

@media screen and (max-width: 832px) {
    .progress-circle::after, .progress-one::after,
    .progress-two::after, .progress-three::after,
    .progress-four::after, .progress-five::after,
    .progress-six::after {
        width: 75px;
        height: 75px;
        
    }
    footer {
        margin-left: 12vw;
    }
}

@media screen and (max-width: 832px) {
    #pic-container {
        width: 33vw;
    }
    #transparent-container {
        width: 33vw;
        
    }

}